In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
import plotly.subplots as sp
import plotly.figure_factory as ff
import plotly.graph_objects as go
import plotly.io as pio
import plotly.subplots as sp
import plotly.figure_factory as ff
import sklearn
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
import statsmodels.stats.proportion as smp
import statsmodels.stats.contingency_tables as smct
import statsmodels.stats.multivariate as smmv
import statsmodels.stats.power as smpwr
import statsmodels.stats.diagnostic as smd

# 1. Call The data

In [4]:
old_placement_data = pd.read_csv('../data/analyzed_data/old_placement_data.csv')
new_placement_data = pd.read_csv('../data/analyzed_data/placement_df.csv')

In [5]:
display(old_placement_data.columns)
display(new_placement_data.columns)

Index(['name', 'gender_guess', 'school_website', 'field', 'paper_name',
       'paper_link', 'chair', 'committee_member', 'university', 'department',
       'cv_link', 'dissertation', 'personal_website', 'email', 'gender_manual',
       'secondaryresearchfocus', 'dissertation_name', 'placement',
       'placement_type', 'academic', 'postdoc', 'position', 'degree',
       'references', 'year'],
      dtype='object')

Index(['Unnamed: 0', 'name', 'university', 'year', 'field', 'placement',
       'research_fields', 'academic', 'private_company', 'government',
       'gender_guess', 'gender'],
      dtype='object')

In [6]:
old_placement_data.head(3)

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,university,department,...,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references,year
0,Aaron Mora,male,https://economics.sas.upenn.edu/people/aaron-mora,"Econometrics, Financial Economics, Industrial ...",Revealed Preference for Green Stocks: An Asset...,NaN,"Francis X. Diebold, Frank Schorfheide",NaN,University of Pennsylvania,Economics,...,NaN,NaN,University of South Carolina,Academic,1.0,0.0,NaN,NaN,NaN,2024.0
1,Aaron Swoboda,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,"Assistant Professor, School of Public & Intern...",Academic,1.0,0.0,Assistant Professor,NaN,NaN,2011.0
2,Aaron Hedlund,male,NaN,NaN,NaN,NaN,NaN,NaN,University of Pennsylvania,Economics,...,NaN,NaN,Baylor University,Academic,1.0,0.0,NaN,NaN,NaN,2012.0

In [8]:
new_placement_data.drop('Unnamed: 0', axis=1).head(3)

,name,university,year,field,placement,research_fields,academic,private_company,government,gender_guess,gender
0,Vivan Aluoch,UCSD,2023.0,Development and Labor Economics,Analysis Group,NaN,0,1,0,female,female
1,Hannah Bae,UCSD,2023.0,Health and Public,"Michigan State University, postdoc at Stanford...",NaN,1,0,0,female,female
2,Evgenii Baranov,UCSD,2023.0,Micro Theory,Penn State University,NaN,1,0,0,male,male

# 2. Filter out the data
Let's start with filtering out the data that has placement data.

In [15]:
old_placement_data.columns

Index(['name', 'gender_guess', 'school_website', 'field', 'paper_name',
       'paper_link', 'chair', 'committee_member', 'university', 'department',
       'cv_link', 'dissertation', 'personal_website', 'email', 'gender_manual',
       'secondaryresearchfocus', 'dissertation_name', 'placement',
       'placement_type', 'academic', 'postdoc', 'position', 'degree',
       'references', 'year'],
      dtype='object')

In [10]:
old_placement_data[old_placement_data['placement'].notna()]

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,university,department,...,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references,year
0,Aaron Mora,male,https://economics.sas.upenn.edu/people/aaron-mora,"Econometrics, Financial Economics, Industrial ...",Revealed Preference for Green Stocks: An Asset...,NaN,"Francis X. Diebold, Frank Schorfheide",NaN,University of Pennsylvania,Economics,...,NaN,NaN,University of South Carolina,Academic,1.0,0.0,NaN,NaN,NaN,2024.0
1,Aaron Swoboda,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,"Assistant Professor, School of Public & Intern...",Academic,1.0,0.0,Assistant Professor,NaN,NaN,2011.0
2,Aaron Hedlund,male,NaN,NaN,NaN,NaN,NaN,NaN,University of Pennsylvania,Economics,...,NaN,NaN,Baylor University,Academic,1.0,0.0,NaN,NaN,NaN,2012.0
3,"Abe, Naohito",Male,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,"Hibotsutoshi University, Japan",NaN,1.0,NaN,NaN,NaN,NaN,2000.0
4,Abhay Aneja,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,HASS,...,NaN,NaN,Berkeley Law,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,"Zhu, Zhengren",Male,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,McKinsey & Company,NaN,0.0,NaN,NaN,NaN,NaN,2021.0
1470,Zigan Wang,Male,NaN,Finance,NaN,NaN,NaN,NaN,Columbia University,Economics,...,NaN,NaN,University of Hong Kong,Academic,1.0,0.0,NaN,NaN,NaN,2015.0
1471,Zihao (Harry) Zhou,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,HASS,...,NaN,NaN,University College London – School of Management,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2021.0
1473,"Zimmerman, Seth",Male,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,"Princeton U Post-doc, then U of Chicago, Booth...",NaN,1.0,NaN,NaN,NaN,NaN,2014.0
1474,Łukasz Langer,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,HASS,...,NaN,NaN,Cornerstone Research,Other,0.0,0.0,PhD Associate,NaN,NaN,2022.0

In [11]:
new_placement_data[new_placement_data['placement'].notna()]

,Unnamed: 0,name,university,year,field,placement,research_fields,academic,private_company,government,gender_guess,gender
0,0,Vivan Aluoch,UCSD,2023.0,Development and Labor Economics,Analysis Group,NaN,0,1,0,female,female
1,1,Hannah Bae,UCSD,2023.0,Health and Public,"Michigan State University, postdoc at Stanford...",NaN,1,0,0,female,female
2,2,Evgenii Baranov,UCSD,2023.0,Micro Theory,Penn State University,NaN,1,0,0,male,male
3,3,Amanda Bonheur,UCSD,2023.0,Behavioral and Labor Economics,RAND Corporation,NaN,0,1,0,female,female
4,4,Edoardo Briganti,UCSD,2023.0,Macroeconomics,Bank of Canada,NaN,0,1,1,male,male
...,...,...,...,...,...,...,...,...,...,...,...,...
629,25,Cem Tutuncu,Stanford,2024.0,NaN,Cornerstone Research,"Financial Economics, Macroeconomics",0,1,0,male,male
630,26,Mark P. Walsh,Stanford,2024.0,NaN,"GiveWell, Senior Research Associate","Applied Microeconomics, Development Economics",0,1,0,male,male
631,27,Xuejie Yi,Stanford,2024.0,NaN,Pinterest,"Industrial Organization, Health Economics",0,0,0,unknown,female
632,28,Chuan Yu,Stanford,2024.0,NaN,UNC-Chapel Hill,"Industrial Organization, Health Economics",0,0,0,andy,male
633,29,Trevor Bakker,Stanford,2023.0,NaN,US Census Bureau,"Public Economics, Household Finance, Labor Eco...",0,0,1,male,male

In [13]:
old_placement_data['placement'].unique()

array(['University of South Carolina',
       'Assistant Professor, School of Public & International Affairs, University of Pittsburgh',
       'Baylor University', 'Hibotsutoshi University, Japan',
       'Berkeley Law', 'Royal Holloway University',
       'University of Mainz, Germany', 'Unibanco',
       'Yale University, School of Public Health',
       'European Central Bank',
       'University of Maryland, School of Public Policy',
       'Boston Consulting Group', 'New York University', nan, 'Facebook',
       'Michigan State University',
       'Osaka University (Bank of Japan (post doc))',
       'Pontifical Catholic University of Chile',
       'University of Illinois, Urbana-Champaign', 'Edgeworth Economics',
       'Research Economist, Human Development Report Office, UNDP',
       'Penn Populations Studies Department - Post Doc',
       'Emory (next year postdoc at NYU)',
       'UBS – Chief Investment Office, NY',
       'Assistant Professor, Department of Economics, Uppsala University',
       'University of Pennsylvania – Wharton', 'Charles River Associates',
       'Falcon Investment Management', 'Middlebury College',
       'Board of Governors', 'International Monetary Fund',
       'Northwestern University; first, one-year Post-Doc at Princeton',
       'Lecturer (Assistant Professor), IDC, Herzliya',
       'Nuffield Postdoctoral Research Fellow, Department of Economics, University of Oxford',
       'Central Bank of Chile', 'Wellesley College', 'Dutch Central Bank',
       'Mount Holyoke College', 'University of Cambridge',
       'Post-doc University of Southern California',
       'Georgetown University', 'University of Michigan',
       'Wharton School, University of Pennsylvania',
       'Mathematica Policy Research, Washington, D.C.',
       'University of Bern', 'Cleveland Fed',
       'Pontificia Universidad Católica de Chile',
       "Department of Justice's Economic Analysis Group",
       'University College London', 'University of Edinburgh',
       'Assistant Professor, Economics, Vanderbilt University',
       'Assistant Professor, Agricultural and Consumer Economics, University of Illinois, Urbana Champaign',
       'Marist College',
       'Program Economist, Economic Growth, Agriculture, and Trade Division, United States Agency for International Development',
       'Lehigh University', 'University of Georgia',
       'University of British Columbia',
       'Post Doctoral Scholar, Economics, University of Chicago',
       'Staff Economist, Premise Data Corporation',
       'The Samuel Curtis Johnson Graduate School of Management at Cornell University',
       'Carnegie Mellon, Tepper School of Business',
       'Bank of America Merrill Lynch',
       'Board of Governors of the Federal Reserve System',
       'Research Fellow, Grantham Research Institute, London School of Economics',
       'Constellation Energy', 'University of Wisconsin, Madison',
       'Federal Reserve Board', 'ITAM Mexico',
       'Carnegie Mellon Heinz School of Public Policy', 'Amazon',
       'University of Essex', 'Keystone Strategy', 'Uber',
       'University of Arizona', 'University of Chicago Crime Lab',
       'US Naval Academy', 'University of California, Davis',
       'FGV Sao Paulo, Brazil', 'Ten-X',
       'Post doctoral Fellow, Department of Economics, University of Tokyo',
       'Menta Capital, LLC', 'Australian Bureau of Statistics',
       'World Bank Post-Doc; then Duke University', 'Amherst College',
       'Johns Hopkins University',
       'MIT (after Postdoc at Microsoft Research New York)',
       'University of Palermo', 'Chicago (Graduate School of Business)',
       'Cornell University', 'University of Maryland, AGRE',
       'University of Minnesota, Finance',
       'Robert Wood Johnson Post-Doc; then Northwestern University',
       'Oxford University Post-Doc; UCSD', 'Quant Economics, San Diego',
       'Elon University', 'University of Delaware', 'IMPAQ International',
       'Carleton College', 'Assistant Professor, University of Colorado',
       'University of Illinois, Champagne-Urbana', 'SUNY Stony Brook',
       'University of Western Ontario', 'Virginia Tech',
       'Stanford (Graduate School of Business)',
       'Northwestern University', 'Bank of America',
       'University of California, San Diego', 'Queen’s University',
       'Indian Institute of Technology Kanpur', 'Analysis Group, Boston',
       'Visiting Scholar, Agriculture and Resource Economics, UC Berkeley',
       'Columbia University', 'Sandisk Corporation',
       'Research Fellow, Institute for Social Research/Population Studies Center, University of Michigan',
       'Assistant Professor, Economics Department, Georgia Institute of Technology',
       'Sloan School, MIT', 'Post-doc London School of Economics',
       'Toulouse University',
       'Assistant Professor, Department of Economics, University of Maryland',
       'Amazon (post-doctoral scientist)',
       'Post-doc Stanford\xa0University, Graduate School of Business',
       'Tel Aviv University',
       'FDIC - Federal Deposit Insurance Corporation',
       'Cal Poly San Luis Obispo',
       'Assistant Professor, Humboldt State University',
       'Brigham Young University', 'IMF', 'QuadSci',
       'Universidade de Sao Paulo',
       'Post-doc Royal Holloway, University of London',
       'London School of Economics', 'Barclays Bank PLC',
       'Dimensional Fund Advisors', 'Analysis Group-Economics',
       'City University of Hong Kong', 'University of Barcelona',
       'Harvard', 'Philadelphia Federal Reserve Bank',
       'Cornerstone Research', 'Yale School of Management',
       'University of Aarhus Business School',
       'University of Illinois Urbana-Champaign',
       'Shanghai University of Finance and Economics',
       'Visiting Assistant Professor/Consultant, Public Policy Institute/Development Economics Research Group, Georgetown University/World Bank',
       'Indiana University – Bloomington', 'Central Bank of Costa Rica',
       'Associate Research Fellow, Markets, Trade, and Institutions Division (MTID)., International Food Policy Research Institute\xa0 (IFPRI)',
       'Hiroshima University', 'University of Wisconsin',
       'Davidson College', 'Analysis Group', 'University of Mannheim',
       'Baruch College, CUNY',
       'Marketing Dept, Olin School of Business, Washington University',
       'Bristol (Rochester Business School (post doc))',
       'Allyn Young Fellow; Cornell University',
       "Assistant Professor, Department of Economics, L'Université du Québec à Montréal",
       'Cornell University – ILR School', 'Point72 Asset Management',
       'Cornell University, SC Johnson College of Business',
       'Arizona State University',
       'National University of Singapore - Public Policy',
       'Kaneka Holdings', 'University of Pennsylvania',
       'Federal Reserve Bank of Cleveland', 'Carnegie Mellon University',
       'University of Maryland', 'Hannyang University, Korea',
       'University of California, Irvine', 'Toronto Economics',
       'University of Melbourne', 'University of Warwick',
       'Rutgers University', 'Veterans Administration-Menlo Park, CA',
       'Climate Economist, The Union of Concerned Scientists',
       'Federal Reserve Bank of Boston',
       'Imperial College Business School',
       'Institute of Economics, Academia Sinica', 'University of Miami',
       'Assistant Professor, Rollins School of Public Health, Emory University',
       'Assistant Professor, Economics, University of Pittsburgh',
       'Research Economist, Instituto de Pesquisa Economica Aplicada (IPEA), Rio de Janeiro, Brasil',
       'Cornell University, PAM',
       'New York University, Stern School of Business',
       'University of North Carolina, Chapel Hill',
       'Yale School of Management, 2-year Post-doc', 'NERA Manhattan',
       'University of California, Berkeley, Haas School of Business',
       'Columbia Univesity', 'Wharton School of Business',
       'University Carlos III Madrid (after Postdoc at University of Oslo)',
       'Assistant Professor, International Relations & Pacific Studies, University of California, San Diego',
       'Capital One', 'University of Pittsburgh',
       'London School of Economics, Department of FinancePost-doc Columbia Business School',
       'Economist (Young Professional), Human Development in South Asia, The World Bank',
       'Assistant Professor, Department\xa0of Economics, Northwestern University',
       'Assistant Professor, Williamette University',
       'University of Toronto, Canada',
       'Assistant Professor, Economics, University of Maryland',
       'Federal Trade Commission', 'Searchlight',
       '2 Year Post-Doc at Aalto University - Finland',
       'Economist, Government Accountability Office',
       'University of Texas, Austin',
       'University of Chicago, Booth School of Business',
       'Deloitte & Touche in Washington',
       'Universidad de Los Andes, Econ', 'Automoma Barcelona',
       'Hitotsubashi University',
       'Post-doc New York University, Abu Dhabi', 'Insight',
       'Indian Statistical Institute, Delhi, 3-year Post-doc',
       'Assistant Professor, School of Natural Resources and Environment, University of Michigan',
       'NYU Abu-Dhabi', 'Post-doc Hungarian Academy of Sciences',
       'Universitat Barcelona', 'Mathematica',
       'Economist, Environmental Defense Fund',
       'McKinsey and Co., Toronto',
       'Post-doc Université Libre de Bruxelles',
       'Fordham UniversityPost-doc University of Pennsylvania',
       'Tel-Aviv University', 'ITAM', 'MIT (Sloan)',
       'Bank of Mexico, Research Department',
       'Bates, White & Ballentine Consulting Group',
       'University of Toronto',
       'Research Fellow, Public Policy Institute of California',
       'Bogazici University', 'Columbia Business School', 'Accenture',
       'Cal State Fullerton', 'Bard College', 'Research Triangle Inst.',
       'HKUST',
       'Postdoctoral Scholar, LBNL, University of California, Berkeley',
       'Assistant Professor, Department of Economics, Occidental College',
       'NERA Economic Consulting', 'Universidad de los Andes (Colombia)',
       'Assistant Professor, Department of Economics, University of Nevada, Reno',
       'Humboldt UniversityPost-doc Berlin School of Economics',
       'McKinsey and Company', 'St. John Fisher University',
       'Bocconi University', 'Bank of Korea',
       'Bryn Mawr College 2-year appt.', 'Harvard Business School',
       'University of Southern California (Teaching)', 'Boston College',
       'UNC (Health Policy)', 'University of Tokyo', 'Rand Corporation',
       'Fannie Mae, Washington, DC', 'St. Louis FED',
       'USC Marshall School of Business',
       'Cheung Kong Graduate School of Business', 'Yale University',
       'Associate, Cornerstone Research',
       'University of New South Wales Business School',
       'University of Sydney', 'Manhattanville College', 'Abt Associates',
       'Post-Doctoral Scholar (2023-2025), King Center and Center for Food Security and the Environment, Stanford University',
       'London Business School',
       'Post Doctoral Scholar, Industrial Emgineering, University of Chile',
       'Economist, World Bank', 'University of WarwickPost-doc Princeton',
       'IMF Economist Program',
       'Goldman Sachs Global Investment Research',
       'Industrial Relations section at Princeton (post-doc) before joining University of Michigan',
       'Assistant Professor, Crawford School of Economics & Government/Economics Program, Australian National University',
       'Banco Bilbao Vizcaya Argentaria (BBVA, Research)',
       'Kelley School of Business, Indiana University',
       'Assistant Professor, Agricultural and Consumer Economics, University of Illinois',
       'Assistant Professor, International Politics and Economics, Middlebury College',
       'Tufts University', 'Boston University', 'Capital Fund Management',
       'University of Florida',
       'University of California, San Diego (Post-Doc)',
       'Oberlin College', 'Princeton University', 'University of Houston',
       'Nova School of Business and Economics',
       'Assistant Professor, Education, New York University',
       'Assistant Professor, Renmin University of China',
       'EUI Postdoc, then University of British Columbia',
       'Federal Reserve Bank of New York', 'School of Economics, HUST',
       'Economist, Economist Program, International Monetary Fund',
       'Bank of England',
       'Professor, Universidad del Desarrollo in Concepcion, Chile',
       'University of Oxford', 'World Bank Research Group',
       'University of San Francisco', 'University of Copenhagen',
       'Compass Lexecon, New York', 'New York University (Stern-Finance)',
       'Bank of America Merrill Lynch, London', 'CCNY or UNC post doc',
       'George Washington University', 'CCNY',
       'University of Maryland, College Park', 'University of Bonn',
       'Universidad Catolica, Chile',
       'University of Toronto, Division of Management',
       'University of Chicago, GSB',
       'Assistant Professor, Department of Economics, UCLA',
       'Northwestern University, Kellogg School of Management',
       'Harvard University', 'University of Alberta, Canada',
       'Keystone Strategy, New York',
       'Concordia University (next year postdoc at Harvard Kennedy School)',
       'London School of Economics, Department of Management',
       'Postdoc - Dartmouth College, then Georgetown University',
       'City University of New York', 'University of Iowa',
       'Federal Reserve Board of Governors',
       'Executive Director, WattTime',
       'Assistant Professor, Department of Economics, University of Pompeu Fabra',
       'University of North Carolina Greensboro', 'Dr. Hagit Perry',
       'World Bank', 'Post-doc New York University',
       'U.S. Department of Treasury, Office of Microeconomic Analysis',
       'Bank of Italy', 'Sciences Po', 'PwC Tax Transfer Pricing',
       'McDonough Business School, Georgetown University',
       'Postdoc - Princeton IES, then Stanford Institute for Economic Policy Research (SIEPR) Postdoc',
       'University of Washington',
       'Director of Research, Research, Bio-Economic Research Associates, Cambridge, MA',
       'Indiana University',
       'Assistant Professor, Agricultural & Applied Economics, University of Wisconsin, Madison',
       'University of California, Los Angeles',
       'University of California, Santa Cruz',
       'Assistant Professor, Division of Social Science and Division of Environment, Hong Kong University of Science and Technology (HKUST)',
       'Bloomberg', 'Vanderbilt University',
       'Kellogg School of Management, Northwestern University',
       'University of Houston, Bauer Business School',
       'Pennsylvania State University', 'NERA, Sydney', 'Ohio University',
       'Consultant, Demand Side Analysis',
       'University of Texas at Austin',
       'University of Tokyo (next year postdoc at Cambridge)',
       'Autonoma Barcelona/Move', 'Washington University in St. Louis',
       'Uppsala University, Sweden', 'Florida State University',
       'WHU – Otto Beisheim School of Management',
       'Community Service Society of New York',
       'World Bank Post-Doc; then University of Washington',
       'Queensland University',
       'Research Fellow, Department of Economics, University of Paris 1 Pantheon-Sorbonne and CNRS',
       'Assistant Professor, Department of Economics, University of Washington',
       'University of Colorado Boulder', 'Copenhagen Business School',
       'Postdoc - Princeton University', 'Simon Fraser University',
       'University of Chicago, Graduate School of Business',
       'Samsung Corporation', 'University of Concordia, Canada',
       'City University of Hong Kong, Finance',
       'Bureau of Economic Analysis, Research Department',
       'University of Hong Kong Graduate School of Business',
       'Assistant Professor, School of Hotel Admininistration, Cornell University',
       'Ohio State University',
       'Assistant Professor, Economics Department, Universidad de Concepcion, Chile',
       'Carnegie Mellon University (Tepper)', 'University of Oklahoma',
       'Postdoc at University of Geneva, then Johns Hopkins University',
       'University of Hong Kong', 'USC',
       'One-year Postdoctoral Fellow, Stanford Environmental and Energy Policy Analysis Center (SEEPAC); then Assistant Professor, Harris School of Public Policy, University of Chicago',
       'Vanderbilt', 'NERA', 'National Economic Research Associates',
       'Putnam Investments Boston', 'Korean Institute of Finance',
       'Post Doctoral Researcher, Climate Impact Lab, The University of Chicago',
       'Sung Kyun Kwan University',
       'Assistant Professor of CE/Specialist in Food Supply Chains, Department of Agricultural and Resource Economics, University of California, Davis',
       'Economist, Bureau of Economics/Consumer Protection Division, Federal Trade Commission',
       'Assistant Professor, Department of Economics, Towson University',
       'Assistant Professor, Agricultural, Food, and Resource Economics, Michigan State University',
       'QuantCo (Start-up)', 'Rimeto',
       'Assistant Professor, International Policy Studies, Monterey Institute of International Studies',
       'US Treasury', 'Treasury Department, Government of Mexico',
       'HEC Montréal', 'Risk Modeling Officer, JP Morgan, Chase & Co',
       'Rochester University',
       'Assistant Professor, Department of Environmental Economics and Management, The Hebrew University of Jerusalem',
       'Intensity', 'University of North Carolina at Chapel Hill',
       'Assistant Professor, Departmentof Economics, University of Montana, Missoula',
       'Assistant Professor, Kellogg School of Business, Northwestern University',
       'Assistant Professor, Fletcher School, Tufts University',
       'Research Economist, ERS Resource & Rural Economics Division, USDA',
       'Post-Doctoral Scholar (2023-24), Stanford Environmental and Energy Policy Analysis Center, Stanford University',
       'Hanyang university', 'Insight Data Science',
       'The Chinese University of Hong Kong',
       'Fellow, Resources for The Future',
       "Post Doctoral Scholar, UChicago's E&E Lab, The University of Chicago",
       'Assistant Professor, Department of Agricultural Economics, Mississippi State University',
       'Hunter CollegePost-doc The Dartmouth Institute for Health Policy & Clinical Practice',
       'Wharton School of Business, University of Pennsylvania', 'MIT',
       'University of Hawaii – Manoa',
       'Baruch College City University of New York',
       'Amazon as an Applied Scientist',
       'National School of Development at Peking University',
       'Beijing University', 'Lingnan university\xa0 (Bonn (post doc))',
       'Assistant Professor, Department of Economics, University of Michigan',
       'Hankuk University of Foreign Studies',
       'Korea Development Institute School of Public Policy and Management',
       'Economist, Mathematica', 'University College London (UCL)',
       'Post Doctoral Researcher, Global Policy Lab, University of California, Berkeley',
       'Post-doc Aix-Marseille School of Economics',
       'Wellesley College (1 yr.)', 'Mathematica Policy Research',
       'Charles River Associates-San Francisco',
       'University of Chicago Booth School of Business', 'FDIC',
       'Georgetown LawPost-doc NYU Institute for Corporate Governance & Finance',
       'Department of Labor',
       'KISDI (Korea Institute for Information Society and Development)',
       'Bates White', 'Banco de Mexico', 'McKinsey & Co.',
       'Universidad Autonoma Barcelona', 'Ellington Management',

First let's fill the missing placement types

In [8]:
old_placement_data[old_placement_data['placement_type'].isna()].head()

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,university,department,...,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references,year
3,"Abe, Naohito",Male,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,"Hibotsutoshi University, Japan",NaN,1.0,NaN,NaN,NaN,NaN,2000.0
8,"Adhvaryu, Achyuta",Male,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,"Yale University, School of Public Health",NaN,1.0,NaN,NaN,NaN,NaN,2009.0
10,"Afzal, Madiha",Female,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,"University of Maryland, School of Public Policy",NaN,1.0,NaN,NaN,NaN,NaN,2008.0
13,AhyanPanjwani,Male,NaN,"Macroeconomics, Financial Economics, Developme...",NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,“Underwater: The Effect of Federal Policies on...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022.0
17,"Akin, Sumeyra",Female,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,Pontifical Catholic University of Chile,NaN,1.0,NaN,NaN,NaN,NaN,2020.0

In [42]:
#turn all that has university into academic
# Update placement_type to Academic where placement contains 'university'
old_placement_data.loc[(old_placement_data['placement_type'].isna()) & 
                      (old_placement_data['placement'].str.lower().str.contains('university', na=False)), 
                      'placement_type'] = 'Academic'

# Still missing
old_placement_data[old_placement_data['placement_type'].isna()]

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,university,department,...,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references,year
13,AhyanPanjwani,Male,NaN,"Macroeconomics, Financial Economics, Developme...",NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,“Underwater: The Effect of Federal Policies on...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022.0
19,"Alam, Muneeza",Female,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,Edgeworth Economics,NaN,0.0,NaN,NaN,NaN,NaN,2014.0
24,Aleksandra Alferova,female,https://as.nyu.edu/departments/econ/job-market...,"Macro-Finance, Macroeconomics, Monetary Economics",Banks' Response to Credit Drawdowns: Mechanism...,https://drive.google.com/file/d/1-CVuXj2TT6__b...,NaN,"Jaroslav Borovička, Mark Gertler, Simon Gilchrist",NYU,Economics,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.0
25,Aleksei Oskolkov,male,NaN,"Primary Research Focus: Macroeconomics, Intern...",Heterogeneous Impact of the Global Financial C...,https://alekseioskolkov.com/files/oskolkov_jmp...,NaN,"References: Fernando Alvarez, Mikhail Golosov,...",UChicago,Economics,...,"Secondary Research Focus: Monetary Economics, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.0
29,"Ali, Usman",Male,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,Falcon Investment Management,NaN,0.0,NaN,NaN,NaN,NaN,2009.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,Zhiyu Fu,Male,NaN,"Primary Research Focus: International Finance,...",Capital Flows and the Making of Risky Currencies,https://fuzhiyu.me/assets/pdf/capital_flow_and...,NaN,"References: Greg Kaplan (Co-chair), Ralph Koij...",UChicago,Economics,...,Secondary Research Focus: Macro Finance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.0
1468,"Zhu, Feng",Male,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,"Bank of International Settlements, Switzerland",NaN,0.0,NaN,NaN,NaN,NaN,2004.0
1469,"Zhu, Zhengren",Male,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,McKinsey & Company,NaN,0.0,NaN,NaN,NaN,NaN,2021.0
1472,Zijian He,Male,NaN,"Urban Economics, International Trade, Industri...",NaN,NaN,NaN,Costas ArkolakisSamuel KortumKatja Seim,Yale,Economics,...,NaN,"""Essays on Urban and Spatial Economics""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.0
1473,"Zimmerman, Seth",Male,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,"Princeton U Post-doc, then U of Chicago, Booth...",NaN,1.0,NaN,NaN,NaN,NaN,2014.0

In [13]:
# Extract placement data to txt file
placements = old_placement_data[old_placement_data['placement_type'].isna()]['placement']
with open('../data/missing_placement_type.txt', 'w') as f:
    for placement in placements:
        if isinstance(placement, str):
            f.write(placement + '\n')

In [43]:
placement_categories = {
    "Academic": [
        "Amherst College",
        "Bard College",
        "Bryn Mawr College 2-year appt.",
        "Carleton College",
        "Carnegie Mellon Heinz School of Public Policy",
        "CCNY",
        "Columbia Business School",
        "Columbia Univesity",
        "Cornell ILR - Labor",
        "Davidson College",
        "FGV Rio, Brazil",
        "FGV Sao Paulo, Brazil",
        "Hong Kong Univ of Science/Tech",
        "Indiana Univiversity",
        "INSEAD",
        "ITAM",
        "Johns Hopkins",
        "Korean Advanced Institute of Science and Technology",
        "London School of Economics",
        "Mexico Autonomous Institute of Technology (ITAM)",
        "Middlebury College",
        "MIT",
        "MIT (Sloan)",
        "MIT Sloan",
        "Montreal",
        "Naval Postgraduate School",
        "Princeton U Post-doc, then U of Chicago, Booth School of Business",
        "Sloan School, MIT",
        "Smith College",
        "Stanford",
        "Stanford (Graduate School of Business)",
        "Stockholm School of Economics",
        "SUNY Albany",
        "SUNY Buffalo",
        "SUNY Stony Brook",
        "Tilburg",
        "Toronto Economics",
        "Toulouse School of Economics",
        "Trinity College",
        "UC Berkeley AGRE",
        "Universidad Carlos III de Madrid, Spain",
        "UNC (Health Policy)",
        "Wake Forest",
        "Wharton, Department of Finance",
        "Williams College",
        # Post-docs are classified as academic
        "Yale School of Management, 2-year Post-doc",
        "Indian Statistical Institute, Delhi, 3-year Post-doc",
        "MIT (after Postdoc at Microsoft Research New York)",
        "NYU-Stern Post-doc, then Princeton",
        "Postdoc - Princeton IES, then Stanford Institute for Economic Policy Research (SIEPR) Postdoc",
        "Microsoft Post-Doc, then Olin School, Washington Univ., St. Louis",
        "Yale Med School Post-Doc",
        "3-year Post-Doc Oxford-Man Institute",
        "ESRI, Cabinet Office, Government of Japan (3-year postdoc)",
        "CCNY or UNC post doc"
    ],
    
    "Private Company": [
        "Amazon",
        "Analysis Group",
        "Analysis Group, Boston",
        "Analysis Group-Economics",
        "Aquatic Capital Management",
        "Balyasny Asset Management",
        "Bank of America",
        "Bank of America Merrill Lynch, London",
        "Barclays Bank PLC",
        "Bates White Economic Consulting",
        "Bates, White & Ballentine Consulting Group",
        "BlackRock Inc.",
        "Boston Consulting Group",
        "Capital One",
        "Charles River Associates",
        "Charles River Associates, London",
        "Charles River Associates-San Francisco",
        "Clear Transactional Analysis",
        "Compass Lexecon",
        "Compass Lexecon, New York",
        "Cornerstone",
        "Cornerstone Research",
        "Deloitte Touche Tohmatsu-Tokyo",
        "Diagnostic Robotics",
        "Edgeworth Economics",
        "Falcon Investment Management",
        "Goldman Sachs Research Division",
        "Google",
        "Keystone Strategy, New York",
        "Konektis Capital Management",
        "KPMG Consulting",
        "Lehman Brothers",
        "Lexecon",
        "McKinsey & Company",
        "McKinsey and Company",
        "Medstat Group",
        "NERA - New York",
        "NERA Manhattan",
        "NERA, Sydney",
        "Oak Hill Platinum Consulting",
        "Point72 Asset Management",
        "Research Triangle Inst.",
        "The Boston Consulting Group, Vienna",
        "TKI Consulting",
        "Vanguard"
    ],
    
    "Government": [
        "Australian Bureau of Statistics",
        "Bank of International Settlements, Switzerland",
        "Bank of Mexico",
        "Bank of Mexico, Research Department",
        "Board of Governors",
        "Bureau of Economic Analysis, Research Department",
        "Department of Justice",
        "Department of Justice, Antitrust Division",
        "Dutch Central Bank",
        "Economist, Center for Medicare",
        "Fannie Mae, Washington, DC",
        "FDIC - Federal Deposit Insurance Corporation",
        "Federal Reserve Bank of Boston",
        "Federal Reserve Bank of New York",
        "Federal Reserve Board",
        "Federal Reserve Board of Governors",
        "Federal Trade Commission",
        "FRB Minneapolis",
        "IMF",
        "IMF Economist Program",
        "International Monetary Fund",
        "Korean Research Institute",
        "Mexican Ministry of Finance",
        "Rand Corporation",
        "SEC - Economic Analysis Group",
        "St. Louis FED",
        "U.S. Census Bureau",
        "U.S. Department of Treasury, Office of Microeconomic Analysis",
        "World Bank",
        "World Bank Research Group",
        "World Bank, IFC"
    ]
}

# Function to look up placement type
def get_placement_type(placement):
    for category, institutions in placement_categories.items():
        if placement in institutions:
            return category
    return "Unknown"

In [44]:
# Create a mapping dictionary for easier lookup
placement_type_map = {}
for category, placements in placement_categories.items():
    for placement in placements:
        placement_type_map[placement] = category

# Update placement_type for matching placements
mask = old_placement_data['placement'].isin(placement_type_map.keys())
old_placement_data.loc[mask, 'placement_type'] = old_placement_data.loc[mask, 'placement'].map(placement_type_map)

old_placement_data.head()

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,university,department,...,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references,year
0,Aaron Mora,male,https://economics.sas.upenn.edu/people/aaron-mora,"Econometrics, Financial Economics, Industrial ...",Revealed Preference for Green Stocks: An Asset...,NaN,"Francis X. Diebold, Frank Schorfheide",NaN,University of Pennsylvania,Economics,...,NaN,NaN,University of South Carolina,Academic,1.0,0.0,NaN,NaN,NaN,2024.0
1,Aaron Swoboda,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,"Assistant Professor, School of Public & Intern...",Academic,1.0,0.0,Assistant Professor,NaN,NaN,2011.0
2,Aaron Hedlund,male,NaN,NaN,NaN,NaN,NaN,NaN,University of Pennsylvania,Economics,...,NaN,NaN,Baylor University,Academic,1.0,0.0,NaN,NaN,NaN,2012.0
3,"Abe, Naohito",Male,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,"Hibotsutoshi University, Japan",Academic,1.0,NaN,NaN,NaN,NaN,2000.0
4,Abhay Aneja,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,HASS,...,NaN,NaN,Berkeley Law,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2019.0

In [45]:
old_placement_data[old_placement_data['placement_type'].isna()]

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,university,department,...,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references,year
13,AhyanPanjwani,Male,NaN,"Macroeconomics, Financial Economics, Developme...",NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,“Underwater: The Effect of Federal Policies on...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022.0
24,Aleksandra Alferova,female,https://as.nyu.edu/departments/econ/job-market...,"Macro-Finance, Macroeconomics, Monetary Economics",Banks' Response to Credit Drawdowns: Mechanism...,https://drive.google.com/file/d/1-CVuXj2TT6__b...,NaN,"Jaroslav Borovička, Mark Gertler, Simon Gilchrist",NYU,Economics,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.0
25,Aleksei Oskolkov,male,NaN,"Primary Research Focus: Macroeconomics, Intern...",Heterogeneous Impact of the Global Financial C...,https://alekseioskolkov.com/files/oskolkov_jmp...,NaN,"References: Fernando Alvarez, Mikhail Golosov,...",UChicago,Economics,...,"Secondary Research Focus: Monetary Economics, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.0
51,"Anand, Priyanka",Female,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,"Mathematica Policy Research, Washington, D.C.",NaN,0.0,NaN,NaN,NaN,NaN,2012.0
54,Andres Ghini,male,https://as.nyu.edu/departments/econ/job-market...,"Macroeconomics, Monetary Economics, Policy",Welfare Costs of Inflation Across Money Holdin...,http://www.andresghini.com,NaN,"Ricardo Lagos, Andres Sarto, Carlos Gonçalves",NYU,Economics,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1444,ZackBarnett-Howell,Male,NaN,"Applied Microeconomics, Development Economics,...",NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,“No Small Potatoes: Agricultural Risk and Inv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.0
1447,Zara Contractor,female,NaN,"Macroeconomics, Labor Economics",NaN,NaN,NaN,Giuseppe MoscariniJoseph AltonjiIlse Lindenlaub,Yale,Economics,...,NaN,"""Essays on Inequality""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.0
1452,"Zhao, Ying",Female,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,CUNY Queens College,NaN,1.0,NaN,NaN,NaN,NaN,2008.0
1467,Zhiyu Fu,Male,NaN,"Primary Research Focus: International Finance,...",Capital Flows and the Making of Risky Currencies,https://fuzhiyu.me/assets/pdf/capital_flow_and...,NaN,"References: Greg Kaplan (Co-chair), Ralph Koij...",UChicago,Economics,...,Secondary Research Focus: Macro Finance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.0
1472,Zijian He,Male,NaN,"Urban Economics, International Trade, Industri...",NaN,NaN,NaN,Costas ArkolakisSamuel KortumKatja Seim,Yale,Economics,...,NaN,"""Essays on Urban and Spatial Economics""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.0

In [46]:
old_placement_data[old_placement_data['placement_type'].isna()]['placement'].unique()

array([nan, 'Mathematica Policy Research, Washington, D.C.',
       'Chicago (Graduate School of Business)',
       'Quant Economics, San Diego', 'Harvard',
       'USC Marshall School of Business',
       'London School of Economics, Department of Management',
       'Wellesley College (1 yr.)', 'Wellesley College',
       'Mathematica Policy Research', 'Berlin (research group)',
       'College of William and Mary',
       'Assistant Professor of Health Economics and Policy, UT Southwestern Medical School',
       'CUNY Queens College'], dtype=object)

In [47]:
# Fill NaN values in placement_type with 'Academic'
old_placement_data['placement_type'] = old_placement_data['placement_type'].fillna('Academic')

# Display the updated dataframe
old_placement_data[old_placement_data['placement_type'].isna()]['placement'].unique()

array([], dtype=object)

In [48]:
old_placement_data = old_placement_data[old_placement_data['placement'].notna()]
old_placement_data.to_csv('../data/analyzed_data/old_placement_data_cleaned.csv', index=False)
old_placement_data

,name,gender_guess,school_website,field,paper_name,paper_link,chair,committee_member,university,department,...,secondaryresearchfocus,dissertation_name,placement,placement_type,academic,postdoc,position,degree,references,year
0,Aaron Mora,male,https://economics.sas.upenn.edu/people/aaron-mora,"Econometrics, Financial Economics, Industrial ...",Revealed Preference for Green Stocks: An Asset...,NaN,"Francis X. Diebold, Frank Schorfheide",NaN,University of Pennsylvania,Economics,...,NaN,NaN,University of South Carolina,Academic,1.0,0.0,NaN,NaN,NaN,2024.0
1,Aaron Swoboda,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,ARE,...,NaN,NaN,"Assistant Professor, School of Public & Intern...",Academic,1.0,0.0,Assistant Professor,NaN,NaN,2011.0
2,Aaron Hedlund,male,NaN,NaN,NaN,NaN,NaN,NaN,University of Pennsylvania,Economics,...,NaN,NaN,Baylor University,Academic,1.0,0.0,NaN,NaN,NaN,2012.0
3,"Abe, Naohito",Male,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,"Hibotsutoshi University, Japan",Academic,1.0,NaN,NaN,NaN,NaN,2000.0
4,Abhay Aneja,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,HASS,...,NaN,NaN,Berkeley Law,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,"Zhu, Zhengren",Male,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,McKinsey & Company,Private Company,0.0,NaN,NaN,NaN,NaN,2021.0
1470,Zigan Wang,Male,NaN,Finance,NaN,NaN,NaN,NaN,Columbia University,Economics,...,NaN,NaN,University of Hong Kong,Academic,1.0,0.0,NaN,NaN,NaN,2015.0
1471,Zihao (Harry) Zhou,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,HASS,...,NaN,NaN,University College London – School of Management,Academic,1.0,0.0,Assistant Professor,NaN,NaN,2021.0
1473,"Zimmerman, Seth",Male,NaN,NaN,NaN,NaN,NaN,NaN,Yale,Economics,...,NaN,NaN,"Princeton U Post-doc, then U of Chicago, Booth...",Academic,1.0,NaN,NaN,NaN,NaN,2014.0
1474,Łukasz Langer,male,NaN,NaN,NaN,NaN,NaN,NaN,UC Berkeley,HASS,...,NaN,NaN,Cornerstone Research,Private Company,0.0,0.0,PhD Associate,NaN,NaN,2022.0

In [49]:
old_placement_data = pd.read_csv('../data/analyzed_data/old_placement_data_cleaned.csv')

In [50]:
old_placement_data.columns

Index(['name', 'gender_guess', 'school_website', 'field', 'paper_name',
       'paper_link', 'chair', 'committee_member', 'university', 'department',
       'cv_link', 'dissertation', 'personal_website', 'email', 'gender_manual',
       'secondaryresearchfocus', 'dissertation_name', 'placement',
       'placement_type', 'academic', 'postdoc', 'position', 'degree',
       'references', 'year'],
      dtype='object')

In [60]:
new_placement_data['department'] = 'Economics'

new_placement_data.columns

Index(['Unnamed: 0', 'name', 'university', 'year', 'field', 'placement',
       'research_fields', 'academic', 'private_company', 'government',
       'gender_guess', 'gender', 'department'],
      dtype='object')

In [35]:
new_placement_data

,Unnamed: 0,name,university,year,field,placement,research_fields,academic,private_company,government,gender_guess,gender,department
0,0,Vivan Aluoch,UCSD,2023.0,Development and Labor Economics,Analysis Group,NaN,0,1,0,female,female,Economics
1,1,Hannah Bae,UCSD,2023.0,Health and Public,"Michigan State University, postdoc at Stanford...",NaN,1,0,0,female,female,Economics
2,2,Evgenii Baranov,UCSD,2023.0,Micro Theory,Penn State University,NaN,1,0,0,male,male,Economics
3,3,Amanda Bonheur,UCSD,2023.0,Behavioral and Labor Economics,RAND Corporation,NaN,0,1,0,female,female,Economics
4,4,Edoardo Briganti,UCSD,2023.0,Macroeconomics,Bank of Canada,NaN,0,1,1,male,male,Economics
...,...,...,...,...,...,...,...,...,...,...,...,...,...
629,25,Cem Tutuncu,Stanford,2024.0,NaN,Cornerstone Research,"Financial Economics, Macroeconomics",0,1,0,male,male,Economics
630,26,Mark P. Walsh,Stanford,2024.0,NaN,"GiveWell, Senior Research Associate","Applied Microeconomics, Development Economics",0,1,0,male,male,Economics
631,27,Xuejie Yi,Stanford,2024.0,NaN,Pinterest,"Industrial Organization, Health Economics",0,0,0,unknown,female,Economics
632,28,Chuan Yu,Stanford,2024.0,NaN,UNC-Chapel Hill,"Industrial Organization, Health Economics",0,0,0,andy,male,Economics
633,29,Trevor Bakker,Stanford,2023.0,NaN,US Census Bureau,"Public Economics, Household Finance, Labor Eco...",0,0,1,male,male,Economics

# 3. Merge the two dataframes
Now I got to make sure the two dataframes have the same columns.

In [51]:
# Lets start witht the old data
old_placement_data.columns

Index(['name', 'gender_guess', 'school_website', 'field', 'paper_name',
       'paper_link', 'chair', 'committee_member', 'university', 'department',
       'cv_link', 'dissertation', 'personal_website', 'email', 'gender_manual',
       'secondaryresearchfocus', 'dissertation_name', 'placement',
       'placement_type', 'academic', 'postdoc', 'position', 'degree',
       'references', 'year'],
      dtype='object')

In [52]:
# Create new columns that don't exist
old_placement_data['research_fields'] = None
old_placement_data['private_company'] = 0
old_placement_data['government'] = 0
old_placement_data['department'] = 'Economics'

# Rename gender_manual to gender
old_placement_data = old_placement_data.rename(columns={'gender_manual': 'gender'})

# Keep only specified columns
old_placement_data = old_placement_data[['name', 'university', 'year', 'field', 'placement',
       'research_fields','placement_type', 'academic', 'private_company', 'government',
       'gender_guess', 'gender', 'department']]

old_placement_data

,name,university,year,field,placement,research_fields,placement_type,academic,private_company,government,gender_guess,gender,department
0,Aaron Mora,University of Pennsylvania,2024.0,"Econometrics, Financial Economics, Industrial ...",University of South Carolina,None,Academic,1.0,0,0,male,male,Economics
1,Aaron Swoboda,UC Berkeley,2011.0,NaN,"Assistant Professor, School of Public & Intern...",None,Academic,1.0,0,0,male,male,Economics
2,Aaron Hedlund,University of Pennsylvania,2012.0,NaN,Baylor University,None,Academic,1.0,0,0,male,male,Economics
3,"Abe, Naohito",Yale,2000.0,NaN,"Hibotsutoshi University, Japan",None,Academic,1.0,0,0,Male,Male,Economics
4,Abhay Aneja,UC Berkeley,2019.0,NaN,Berkeley Law,None,Academic,1.0,0,0,male,male,Economics
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1331,"Zhu, Zhengren",Yale,2021.0,NaN,McKinsey & Company,None,Private Company,0.0,0,0,Male,Male,Economics
1332,Zigan Wang,Columbia University,2015.0,Finance,University of Hong Kong,None,Academic,1.0,0,0,Male,Male,Economics
1333,Zihao (Harry) Zhou,UC Berkeley,2021.0,NaN,University College London – School of Management,None,Academic,1.0,0,0,male,male,Economics
1334,"Zimmerman, Seth",Yale,2014.0,NaN,"Princeton U Post-doc, then U of Chicago, Booth...",None,Academic,1.0,0,0,Male,Male,Economics
1335,Łukasz Langer,UC Berkeley,2022.0,NaN,Cornerstone Research,None,Private Company,0.0,0,0,male,male,Economics

In [53]:
# Fix the three placement columnns
old_placement_data['placement_type'].unique()

array(['Academic', 'International Organization', 'Government',
       'Private Company', 'Other', 'Economist', 'Industry', 'Postdoc',
       'Fellow', 'Consultant'], dtype=object)

In [54]:
# Map placement types to simplified categories
old_placement_data['placement_type'] = old_placement_data['placement_type'].map({
    'Academic': 'academic',
    'International Organization': 'government', 
    'Government': 'government',
    'Private Company': 'private_industry',
    'Other': 'private_industry',
    'Economist': 'private_industry',
    'Industry': 'private_industry',
    'Postdoc': 'academic',
    'Fellow': 'academic',
    'Consultant': 'private_industry'
})
old_placement_data['placement_type'].unique()

array(['academic', 'government', 'private_industry'], dtype=object)

In [55]:
old_placement_data['placement_type'] = old_placement_data['placement_type'].replace('private_industry', 'private_company')
old_placement_data['placement_type'].unique()

array(['academic', 'government', 'private_company'], dtype=object)

In [56]:
# Update binary columns based on placement_type
old_placement_data['academic'] = (old_placement_data['placement_type'] == 'academic').astype(int)
old_placement_data['government'] = (old_placement_data['placement_type'] == 'government').astype(int) 
old_placement_data['private_company'] = (old_placement_data['placement_type'] == 'private_company').astype(int)

In [57]:
old_placement_data

,name,university,year,field,placement,research_fields,placement_type,academic,private_company,government,gender_guess,gender,department
0,Aaron Mora,University of Pennsylvania,2024.0,"Econometrics, Financial Economics, Industrial ...",University of South Carolina,None,academic,1,0,0,male,male,Economics
1,Aaron Swoboda,UC Berkeley,2011.0,NaN,"Assistant Professor, School of Public & Intern...",None,academic,1,0,0,male,male,Economics
2,Aaron Hedlund,University of Pennsylvania,2012.0,NaN,Baylor University,None,academic,1,0,0,male,male,Economics
3,"Abe, Naohito",Yale,2000.0,NaN,"Hibotsutoshi University, Japan",None,academic,1,0,0,Male,Male,Economics
4,Abhay Aneja,UC Berkeley,2019.0,NaN,Berkeley Law,None,academic,1,0,0,male,male,Economics
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1331,"Zhu, Zhengren",Yale,2021.0,NaN,McKinsey & Company,None,private_company,0,1,0,Male,Male,Economics
1332,Zigan Wang,Columbia University,2015.0,Finance,University of Hong Kong,None,academic,1,0,0,Male,Male,Economics
1333,Zihao (Harry) Zhou,UC Berkeley,2021.0,NaN,University College London – School of Management,None,academic,1,0,0,male,male,Economics
1334,"Zimmerman, Seth",Yale,2014.0,NaN,"Princeton U Post-doc, then U of Chicago, Booth...",None,academic,1,0,0,Male,Male,Economics
1335,Łukasz Langer,UC Berkeley,2022.0,NaN,Cornerstone Research,None,private_company,0,1,0,male,male,Economics

Check the columns

In [58]:
old_placement_data.columns

Index(['name', 'university', 'year', 'field', 'placement', 'research_fields',
       'placement_type', 'academic', 'private_company', 'government',
       'gender_guess', 'gender', 'department'],
      dtype='object')

In [76]:
new_placement_data['university'].unique()

array(['UCSD', 'UC Riverside', 'UC Davis', 'Stanford'], dtype=object)

In [62]:
new_placement_data.drop('Unnamed: 0', axis=1).columns

Index(['name', 'university', 'year', 'field', 'placement', 'research_fields',
       'academic', 'private_company', 'government', 'gender_guess', 'gender',
       'department'],
      dtype='object')

In [70]:
combined_data = new_placement_data.merge(old_placement_data, how='outer').drop('Unnamed: 0', axis=1)

In [71]:
combined_data = combined_data.drop('gender_guess', axis=1)
combined_data

,name,university,year,field,placement,research_fields,academic,private_company,government,gender,department,placement_type
0,Aaron Hedlund,University of Pennsylvania,2012.0,NaN,Baylor University,None,1,0,0,male,Economics,academic
1,Aaron Mora,University of Pennsylvania,2024.0,"Econometrics, Financial Economics, Industrial ...",University of South Carolina,None,1,0,0,male,Economics,academic
2,Aaron Swoboda,UC Berkeley,2011.0,NaN,"Assistant Professor, School of Public & Intern...",None,1,0,0,male,Economics,academic
3,"Abe, Naohito",Yale,2000.0,NaN,"Hibotsutoshi University, Japan",None,1,0,0,Male,Economics,academic
4,Abhay Aneja,UC Berkeley,2019.0,NaN,Berkeley Law,None,1,0,0,male,Economics,academic
...,...,...,...,...,...,...,...,...,...,...,...,...
1965,Zigan Wang,Columbia University,2015.0,Finance,University of Hong Kong,None,1,0,0,Male,Economics,academic
1966,Zihao (Harry) Zhou,UC Berkeley,2021.0,NaN,University College London – School of Management,None,1,0,0,male,Economics,academic
1967,"Zimmerman, Seth",Yale,2014.0,NaN,"Princeton U Post-doc, then U of Chicago, Booth...",None,1,0,0,Male,Economics,academic
1968,Zuzana Janko,UC Riverside,2003.0,NaN,"University of Calgary,",NaN,1,0,0,female,Economics,NaN
1969,Łukasz Langer,UC Berkeley,2022.0,NaN,Cornerstone Research,None,0,1,0,male,Economics,private_company

In [72]:
combined_data['year'] = combined_data['year'].astype(int)
combined_data

,name,university,year,field,placement,research_fields,academic,private_company,government,gender,department,placement_type
0,Aaron Hedlund,University of Pennsylvania,2012,NaN,Baylor University,None,1,0,0,male,Economics,academic
1,Aaron Mora,University of Pennsylvania,2024,"Econometrics, Financial Economics, Industrial ...",University of South Carolina,None,1,0,0,male,Economics,academic
2,Aaron Swoboda,UC Berkeley,2011,NaN,"Assistant Professor, School of Public & Intern...",None,1,0,0,male,Economics,academic
3,"Abe, Naohito",Yale,2000,NaN,"Hibotsutoshi University, Japan",None,1,0,0,Male,Economics,academic
4,Abhay Aneja,UC Berkeley,2019,NaN,Berkeley Law,None,1,0,0,male,Economics,academic
...,...,...,...,...,...,...,...,...,...,...,...,...
1965,Zigan Wang,Columbia University,2015,Finance,University of Hong Kong,None,1,0,0,Male,Economics,academic
1966,Zihao (Harry) Zhou,UC Berkeley,2021,NaN,University College London – School of Management,None,1,0,0,male,Economics,academic
1967,"Zimmerman, Seth",Yale,2014,NaN,"Princeton U Post-doc, then U of Chicago, Booth...",None,1,0,0,Male,Economics,academic
1968,Zuzana Janko,UC Riverside,2003,NaN,"University of Calgary,",NaN,1,0,0,female,Economics,NaN
1969,Łukasz Langer,UC Berkeley,2022,NaN,Cornerstone Research,None,0,1,0,male,Economics,private_company

In [79]:
#we might need to scrape more data

In [1]:
combined_data.to_csv('../data/analyzed_data/combined_data.csv', index=False)

NameError: name 'combined_data' is not defined

In [5]:
combined_data = pd.read_csv('../data/analyzed_data/combined_data.csv')
combined_data.head()

,name,university,year,field,placement,research_fields,academic,private_company,government,gender,department,placement_type
0,Aaron Hedlund,University of Pennsylvania,2012,NaN,Baylor University,NaN,1,0,0,male,Economics,academic
1,Aaron Mora,University of Pennsylvania,2024,"Econometrics, Financial Economics, Industrial ...",University of South Carolina,NaN,1,0,0,male,Economics,academic
2,Aaron Swoboda,UC Berkeley,2011,NaN,"Assistant Professor, School of Public & Intern...",NaN,1,0,0,male,Economics,academic
3,"Abe, Naohito",Yale,2000,NaN,"Hibotsutoshi University, Japan",NaN,1,0,0,Male,Economics,academic
4,Abhay Aneja,UC Berkeley,2019,NaN,Berkeley Law,NaN,1,0,0,male,Economics,academic

In [9]:
missing_data = pd.read_csv('../data/analyzed_data/missing_data.csv')
missing_data.head()

,year,name,placement,ranking,university,department,placement_type,academic,private_company,government,gender_guesser,gender
0,2024,Jenna Anders,University of Virginia Batten,1,Harvard University,Economics,academic,1,0,0,female,female
1,2024,Martin Aragoneses,INSTEAD,1,Harvard University,Economics,private_company,0,1,0,male,male
2,2024,Michael Blank,"Stanford University, Graduate School of Business",1,Harvard University,Economics,academic,1,0,0,male,male
3,2024,Phoebe Cai,Link Logistics Real Estate,1,Harvard University,Economics,private_company,0,1,0,female,female
4,2024,Romaine Campbell,Cornell Brooks Policy School,1,Harvard University,Economics,academic,1,0,0,female,female

# 4. Combination

In [6]:
old_placement_data['university'].unique()

array(['University of Pennsylvania', 'UC Berkeley', 'Yale',
       'Columbia University', 'NYU', 'UChicago', 'Cornell'], dtype=object)

In [7]:
new_placement_data['university'].unique()

array(['UCSD', 'UC Riverside', 'UC Davis', 'Stanford'], dtype=object)

In [8]:
combined_data['university'].unique()

array(['University of Pennsylvania', 'UC Berkeley', 'Yale', 'UC Davis',
       'UC Riverside', 'UCSD', 'Columbia University', 'Stanford',
       'Cornell'], dtype=object)

In [10]:
missing_data['university'].unique()

array(['Harvard University', 'New York University', 'Duke University',
       'University of Michigan', 'Brown University',
       'Johns Hopkins University', 'University of Texas at Austin'],
      dtype=object)

In [11]:
full_df = pd.concat([combined_data, missing_data])
full_df.head()

,name,university,year,field,placement,research_fields,academic,private_company,government,gender,department,placement_type,ranking,gender_guesser
0,Aaron Hedlund,University of Pennsylvania,2012,NaN,Baylor University,NaN,1,0,0,male,Economics,academic,NaN,NaN
1,Aaron Mora,University of Pennsylvania,2024,"Econometrics, Financial Economics, Industrial ...",University of South Carolina,NaN,1,0,0,male,Economics,academic,NaN,NaN
2,Aaron Swoboda,UC Berkeley,2011,NaN,"Assistant Professor, School of Public & Intern...",NaN,1,0,0,male,Economics,academic,NaN,NaN
3,"Abe, Naohito",Yale,2000,NaN,"Hibotsutoshi University, Japan",NaN,1,0,0,Male,Economics,academic,NaN,NaN
4,Abhay Aneja,UC Berkeley,2019,NaN,Berkeley Law,NaN,1,0,0,male,Economics,academic,NaN,NaN

In [14]:
# Convert all gender values to lowercase
full_df['gender'] = full_df['gender'].str.lower()

# Replace mostly_male with male and mostly_female with female
full_df['gender'] = full_df['gender'].replace('mostly_male', 'male')
full_df['gender'] = full_df['gender'].replace('mostly_female', 'female')

# Split 'andy' randomly between male and female
andy_mask = full_df['gender'] == 'andy'
andy_count = andy_mask.sum()
male_count = andy_count // 2
female_count = andy_count - male_count

full_df.loc[andy_mask, 'gender'] = ['male'] * male_count + ['female'] * female_count

# Show unique values after cleaning
full_df['gender'].unique()

array(['male', 'female', 'unknown'], dtype=object)

In [16]:
# Remove rows where gender is unknown
full_df = full_df[full_df['gender'] != 'unknown']
full_df[full_df['gender'] == 'unknown']

Empty DataFrame
Columns: [name, university, year, field, placement, research_fields, academic, private_company, government, gender, department, placement_type, ranking, gender_guesser]
Index: []

In [18]:
# Check for missing values in placement column
# Remove rows with missing placement values
full_df = full_df.dropna(subset=['placement'])

# Remove duplicate rows
full_df = full_df.drop_duplicates()

print("After removing missing placements and duplicates:")
print(f"Number of rows: {len(full_df)}")

After removing missing placements and duplicates:
Number of rows: 3452

In [20]:
# Look at unique universities in the dataset
print("Unique universities in the dataset:")
full_df['university'].unique()

Unique universities in the dataset:

array(['University of Pennsylvania', 'UC Berkeley', 'Yale', 'UC Davis',
       'UC Riverside', 'UCSD', 'Columbia University', 'Stanford',
       'Cornell', 'Harvard University', 'New York University',
       'Duke University', 'University of Michigan', 'Brown University',
       'Johns Hopkins University', 'University of Texas at Austin'],
      dtype=object)

In [ ]:
full_df

In [32]:
rankings = {
    "Harvard University": 1,
    "Stanford": 3,
    "UC Berkeley": 5,
    "Yale": 7,
    "University of Pennsylvania": 11,
    "Columbia University": 9,
    "New York University": 10,
    "University of Michigan": 13,
    "Duke University": 12,
    "Brown University": 17,
    "Cornell": 16,
    "UCSD": 18,
    "University of Texas at Austin": 20,
    "Johns Hopkins University": 19,
    "UC Davis": 30,
    "UC Riverside": 30
}

full_df['ranking'] = full_df['university'].map(rankings).astype('Int64')
full_df

,name,university,year,field,placement,research_fields,academic,private_company,government,gender,department,placement_type,ranking,gender_guesser
0,Aaron Hedlund,University of Pennsylvania,2012,NaN,Baylor University,NaN,1,0,0,male,Economics,academic,11,NaN
1,Aaron Mora,University of Pennsylvania,2024,"Econometrics, Financial Economics, Industrial ...",University of South Carolina,NaN,1,0,0,male,Economics,academic,11,NaN
2,Aaron Swoboda,UC Berkeley,2011,NaN,"Assistant Professor, School of Public & Intern...",NaN,1,0,0,male,Economics,academic,5,NaN
3,"Abe, Naohito",Yale,2000,NaN,"Hibotsutoshi University, Japan",NaN,1,0,0,male,Economics,academic,7,NaN
4,Abhay Aneja,UC Berkeley,2019,NaN,Berkeley Law,NaN,1,0,0,male,Economics,academic,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,Jiwon Park,University of Texas at Austin,2021,NaN,Korea Institute for International Economic Policy,NaN,1,0,0,female,Economics,academic,20,unknown
1596,Pablo I. Varas,University of Texas at Austin,2021,NaN,"Economists Incorporated, Economist",NaN,0,1,0,male,Economics,private_company,20,male
1597,Sangwoo Choi,University of Texas at Austin,2021,NaN,"Luohan Academy (Alibaba Group), Economist",NaN,0,1,0,male,Economics,private_company,20,unknown
1598,Shenshen Yang,University of Texas at Austin,2021,NaN,"Tianjin University, Assistant Professor",NaN,1,0,0,female,Economics,academic,20,unknown
1599,Vasudha Jain,University of Texas at Austin,2021,NaN,"Indian Institute of Technology Kanpur, Assista...",NaN,1,0,0,female,Economics,academic,20,female

In [34]:
full_df.to_csv('../data/analyzed_data/full_df.csv', index=False)